/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: #212121;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

::-moz-selection {
  color: #fff;
  background-color: #2196f3;
}

::selection {
  color: #fff;
  background-color: #2196f3;
}

.card-set, .nav__list, .socials {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.container, .page-footer__container, .page-header__container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 1px solid tomato; */
}

.portfolio, .clients, .team, .work, .benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title, .team__title, .work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.button {
  margin-bottom: 0;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #fff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

.button__icon {
  fill: #fff;
}

.socials {
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
  color: #fff;
}

.socials__icon {
  fill: currentColor;
}

.socials__cta {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #fff;
}

.page-header {
  border: 1px solid #ececec;
}

.page-header__container {
  display: flex;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  gap: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  position: relative;
  color: #2196f3;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contacts {
  display: flex;
  margin-left: auto;
  gap: 50px;
  align-items: center;
}

.contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__icon {
  fill: currentColor;
}

.logo {
  color: #2196f3;
  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo__accent {
  color: #000;
}

.page-header__logo {
  margin-right: 93px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  min-height: 120px;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.benefits__item {
  flex-basis: calc((100% - 90px) / 4);
}

.benefits__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  height: 120px;
  width: 100%;
  background-color: #f5f4fa;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.benefits__item:hover .benefits__logo, .benefits__item:focus .benefits__logo {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.benefits__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.benefits__text {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
}

.work {
  padding-top: 0;
}

.work__item {
  position: relative;
  flex-basis: calc((100% - 60px) / 3);
}

.work__wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__text {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}

.team__item {
  flex-basis: calc((100% - 90px) / 4);
  padding-bottom: 30px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__img {
  margin-bottom: 30px;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__position {
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
}

.clients__item {
  flex-basis: calc((100% - 150px) / 6);
  height: 92px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__container {
  display: flex;
  align-items: center;
  gap: 70px;
}

.page-footer__wrapper {
  display: inline-flex;
  flex-direction: column;
}

.page-footer__address {
  margin-bottom: 9px;
}

.socials__link--basement {
  background-color: rgba(255, 255, 255, 0.1);
}

.socials__icon--basement {
  fill: #fff;
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__accent--inverse {
  color: #fff;
}

.address {
  color: #fff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.17;
}

.address__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.subscribe-form {
  display: flex;
  align-items: flex-end;
}

.page-footer__form {
  margin-left: auto;
}

.subscribe-form__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-transform: uppercase;
  color: #fff;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  background-color: #2f303a;
  color: #fff;
  outline: 1px solid transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form__input:focus-within {
  outline-color: #fff;
}

.subscribe-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 12px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(50%, -50%);
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.close-btn__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover .close-btn__icon {
  fill: #2196f3;
}

.form {
  text-align: center;
}

.form__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.field__input {
  width: 100%;
  height: 40px;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #212121;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field:focus-within .field__input {
  border: 1px solid #2196f3;
  outline: 1px solid transparent;
}
.field__input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  opacity: 0;
  -moz-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field__input:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  opacity: 0;
  -ms-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field__input::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field:focus-within .field__input::-moz-placeholder {
  opacity: 1;
}
.field:focus-within .field__input:-ms-input-placeholder {
  opacity: 1;
}
.field:focus-within .field__input::placeholder {
  opacity: 1;
}

.field__label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%) scale(1.2);
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field:focus-within .field__label {
  transform: translate(-42px, -270%) scale(1);
}
.field__input:not(:-moz-placeholder-shown) + .field__label {
  transform: translate(-42px, -270%);
}
.field__input:not(:-ms-input-placeholder) + .field__label {
  transform: translate(-42px, -270%);
}
.field__input:not(:placeholder-shown) + .field__label {
  transform: translate(-42px, -270%);
}

.field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.field:focus-within .field__icon {
  fill: #2196f3;
}

.comments-field {
  position: relative;
  display: block;
  margin-bottom: 20px;
}

.comments-field__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 14px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #212121;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comments-field:focus-within .comments-field__textarea {
  border: 1px solid #2196f3;
  outline: 1px solid transparent;
}
.comments-field__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  opacity: 0;
  -moz-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comments-field__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  opacity: 0;
  -ms-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comments-field__textarea::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comments-field:focus-within .comments-field__textarea::-moz-placeholder {
  opacity: 1;
}
.comments-field:focus-within .comments-field__textarea:-ms-input-placeholder {
  opacity: 1;
}
.comments-field:focus-within .comments-field__textarea::placeholder {
  opacity: 1;
}

.comments-field__label {
  position: absolute;
  top: 12px;
  left: 24px;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: #757575;
  transform: translate(0) scale(1.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comments-field:focus-within .comments-field__label {
  transform: translate(-24px, -210%) scale(1);
}
.comments-field__textarea:not(:-moz-placeholder-shown) + .comments-field__label {
  transform: translate(-24px, -210%);
}
.comments-field__textarea:not(:-ms-input-placeholder) + .comments-field__label {
  transform: translate(-24px, -210%);
}
.comments-field__textarea:not(:placeholder-shown) + .comments-field__label {
  transform: translate(-24px, -210%);
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 8px;
}

.checkbox__input {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  outline: 2px solid #212121;
  outline-offset: -2px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__input:checked + .checkbox__icon {
  background-color: #2196f3;
  outline-color: transparent;
}

.checkbox__content {
  fill: #fff;
}

.checkbox__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.checkbox__link {
  color: #2196f3;
  text-decoration: underline;
}

.filters {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
}

.filters__button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #212121;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__button:hover, .filters__button:focus, .filters__button:active {
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters__button--active {
  color: #fff;
  background-color: #2196f3;
}

.examples__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples__link:hover, .examples__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
}
.examples__link:hover .overlay, .examples__link:focus .overlay {
  transform: translateY(0);
}

.overlay__text {
  width: 322px;
  height: 168px;
  font-size: 18px;
  line-height: 1.56;
  color: #fff;
}

.examples__inner {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}

.examples__subtitle {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples__filter-name {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-size: 16px;
  line-height: 1.875;
}/*# sourceMappingURL=main.css.map */