.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.checkbox__input {
  position: absolute;
  appearance: none;
}

.checkbox__icon {
  flex-shrink: 0;
  width: 16px;
  height: 15px;
  outline: 2px solid var(--color-text-primary);
  outline-offset: -2px;
  border-radius: 2px;
  transition: background-color var(--anim), outline-color var(--anim);

  .checkbox__input:checked + & {
    background-color: var(--color-accent);
    outline-color: transparent;
  }
}

.checkbox__content {
  fill: var(--color-text-white);
}

.checkbox__text {
  font-size: 12px;
  line-height: 1.167;
  color: var(--color-text-secondary);

  @include mq(desk) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__link {
  color: var(--color-accent);
  text-decoration: underline;
}
