.form {
  text-align: center;
}

.form__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: $color-text-primary;
}

.field {
  position: relative;
  display: block;
  margin-bottom: 28px;
}

.field__input {
  width: 100%;
  height: 40px;
  padding: 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: $color-text-primary;

  transition: border $anim;

  .field:focus-within & {
    border: 1px solid $color-accent;
    outline: 1px solid transparent;
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
    opacity: 0;
    transition: opacity $anim;

    .field:focus-within & {
      opacity: 1;
    }
  }
}

.field__label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%) scale(1.2);
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;

  color: $color-text-secondary;

  transition: transform $anim;

  .field:focus-within & {
    transform: translate(-42px, -270%) scale(1);
  }

  .field__input:not(:placeholder-shown) + & {
    transform: translate(-42px, -270%);
  }
}

.field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill $anim;

  .field:focus-within & {
    fill: $color-accent;
  }
}