.contacts {
  display: flex;

  @include mq(mob-only) {
    flex-direction: column-reverse;
  }

  @include mq(tab-only) {
    display: block;
  }

  @include mq(desk) {
    align-items: center;
    gap: 30px;
  }
}

.contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--color-text-secondary);

  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;

  transition: color var(--anim);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }

  @include mq(mob-only) {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;

    line-height: 1.667;
  }

  @include mq(tab) {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 12px;
    line-height: 1.167;
  }

  @include mq(desk) {
    font-size: 14px;
    line-height: 1.143;
  }

  &--accent {
    @media screen and (max-width: 400px) {
      color: var(--color-accent);
      font-size: 25px;
    }

    @media screen and (min-width: 401px) and (max-width: 767px) {
      color: var(--color-accent);
      font-size: 34px;
      line-height: 1.176;

      letter-spacing: 0.02em;
    }
  }
}

.contacts__icon {
  fill: currentColor;

  @include mq(mob-only) {
    display: none;
  }

  @include mq(tab-only) {
    width: 14px;
    height: 14px;
  }
}
