.menu-socials {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 48px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__item {
    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }

  &__link {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 0.02em;
    color: var(--color-accent);

    &:not(:last-child) {
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
}
