.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  @extend .container;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mq(mob-only) {
    position: relative;
  }
}

.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;

  @include mq(tab) {
    margin-right: 88px;
  }

  @include mq(desk) {
    margin-right: 93px;
  }
}

.page-header__menu-socials {
  margin-top: 64px;
}
