.page-header {
  border-bottom: 1px solid #ececec;

  &__container {
    @extend .container;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      position: relative;
    }
  }

  &__logo {
    padding-top: 16px;
    padding-bottom: 16px;

    @media screen and (min-width: 1200px) {
      margin-right: 93px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }
  }

  &__menu-socials {
    margin-top: 64px;
  }
}