.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding: 0 24px;

  transform: translateY(101%);

  transition: transform var(--anim);
  background-color: var(--color-accent-tranparent);

  .examples__link:hover &,
  .examples__link:focus & {
    transform: translateY(0);
  }

  &__text {
    font-size: 18px;
    line-height: 1.56;
    color: var(--color-text-white);

    @media screen and (max-width: 400px) {
      font-size: 14px;
    }
  }
}
