.page-footer {
  background-color: var(--color-primary-grey);
  padding-top: 60px;
  padding-bottom: 60px;

  .page-footer__container {
    @extend .container;

    @include mq(desk) {
      display: flex;
      align-items: center;
    }
  }
}

.page-footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.page-footer__wrapper {
  @include mq(mob-only) {
    margin-bottom: 60px;
  }

  @include mq(tab) {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  @include mq(desk) {
    justify-content: space-between;
    gap: 70px;
  }
}

.page-footer__inner {
  @include mq(no-desk) {
    margin-bottom: 60px;
    text-align: center;
  }

  @include mq(tab) {
    display: inline-flex;
    flex-direction: column;
  }
}

.page-footer__address {
  margin-bottom: 8px;
}

.page-footer__form {
  @include mq(no-desk) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }

  @include mq(desk) {
    margin-left: auto;
  }
}
