.logo {
  color: $color-accent;

  font-family: raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;

  text-decoration: none;
}

.logo__accent {
  color: #000;
}

.page-header__logo {
    margin-right: 93px;
}