.button {
  margin-bottom: 0;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: $color-text-white;
  background-color: $color-accent;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;

  transition: background-color $anim;

  &:hover, &:focus {
    background-color: $color-button-hover;
  }
}

.button__icon {
  fill: $color-text-white;
}